<form action="<%= (typeof actionPath === 'undefined') ? '/reservations' : actionPath %>", method="POST">
  <% if (typeof actionPath !== 'undefined') { %>
    <input type="hidden" name="id" value="<%= formData.id %>">
  <% } %>

  <div class="form-group">
    <label for="restaurant">Restaurant</label>
    <select name="restaurant" class="form-control">
      <option>Select a Restaurant</option>
      <% for (let restaurant of restaurants) { %>
        <option <%= (restaurant === formData.restaurant) && 'selected' %> value="<%= restaurant %>"><%= restaurant %></option>
      <% } %>
    </select>
  </div>

  <div class="form-group">
    <label for="dateAndTime">Date and Time</label>
    <input type="datetime-local" name="dateAndTime" class="form-control" value="<%= formData.dateAndTime %>">
  </div>

  <div class="form-group">
    <label for="quantityOfGuests">Number of Guests</label>
    <input type="number" name="quantityOfGuests" class="form-control" value="<%= formData.quantityOfGuests %>" min="1" step="1"/>
  </div>

  <div class="form-group">
    <button class="btn btn-dark">Submit</button>
  </div>
</form>