<%- include ('../partials/header') %>

<div class="container my-5">
  <header>
    <h1>Reservations</h1>
  </header>

  <hr>

  <div class="content">
    <% for (let reservation of reservations) { %>
      <div class="card my-5">
        <div class="card-header">
          <h5 class="card-title">
            for: <%= reservation.restaurant %>
          </h5>
        </div>

        <div class="card-body">
          <p class="card-text">
            Your reservation is for <strong><%= (new Date(reservation.dateAndTime)).toLocaleString('en-CA') %></strong> for <%= reservation.quantityOfGuests > 1 ? 'person' : 'people' %>. Please be on time to avoid losing your seat.
          </p>
        </div>

        <div class="card-footer text-muted">
          <a href="/reservations/<%= reservation.id %>/edit"><i class="fa fa-edit">&nbsp;</i>Change your reservation</a>
          <br>
          <form class="form-inline" action="/reservations/delete" method="post" onsubmit="return confirm('Are you sure you want to cancel your reservation?');">
            <input type="hidden" value="<%= reservation.id %>" name="id">
            <button class="delete" type="submit">
              <i class="fa fa-trash">&nbsp;</i>
              Cancel your reservation
            </button>
          </form>
        </div>
      </div>
    <% } %>
  </div>
</div>

<%- include ('../partials/footer') %>