<%- include ('../partials/header') %>

<div class="container my-5">
  <div class="card my-5">
    <div class="card-header">
      <h5 class="card-title">
        Reservation for: <%= reservation.user.fullname %>
      </h5>
    </div>

    <div class="card-body">
      <p class="card-text">
        Your reservation is from <strong><%= reservation.checkIn %></strong> to <strong><%= reservation.checkOut %></strong> for <%= reservation.numOfOccupants %> <%= reservation.numOfOccupants > 1 ? 'people' : 'person' %>.
      </p>

      <p>
        Your room is a <%= reservation.roomType %>.
      </p>
    </div>

    <div class="card-footer text-muted">
      <a href="/reservations/<%= reservation.id %>/edit"><i class="fa fa-edit">&nbsp;</i>Change your reservation</a>
      <br>
      <form class="form-inline" action="/reservations/delete" method="post" onsubmit="return confirm('Are you sure you want to cancel your reservation?');">
        <input type="hidden" value="<%= reservation.id %>" name="id">
        <button class="delete" type="submit">
          <i class="fa fa-trash">&nbsp;</i>
          Cancel your reservation
        </button>
      </form>
    </div>
  </div>
</div>

<%- include ('../partials/footer') %>